html,
body {
  color: white;
  padding: 0;
  margin: 0;
  font-family: 'Nudista';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Nudista';
  src: url('/fonts/nudista.ttf');
}

@font-face {
  font-family: 'Nudista';
  src: url('/fonts/nudista-bold.ttf');
  font-weight: bold;
}


